body {
  height: 100vh;
  display: flex;
  background: #e6d5b8;
}
.navbar {
  background-color: #e6d5b8;
}
.logo {
  max-width: 65%;
}
.navbar-nav {
  padding-left: 300px;
}

.nav-link {
  color: #1b1a17;
  font-weight: bold;
  font-size: 25px;
  font-family: "Playball";
  letter-spacing: 5px;
}
.nav-link:hover {
  color: #ee9715;
}
.active {
  color: #ee9715;
}
.content {
  margin: 50px;
  text-align: center;
}
.heading {
  padding: 2%;
  background: url(images/images.jpg) repeat fixed 100%;
  background-color: #1b1a17;
  background-size: cover;
  position: relative;
  text-align: center;
  top: 100px;
  line-height: 3px;
  color: #ee9715;
  letter-spacing: 4px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
#heads {
  padding: 40px;
  font-size: 64px;
  font-family: "Great Vibes";
  background-color: rgb(0 0 0 / 55%);
}
.help {
  margin-top: 140px;
  font-size: 50px;
  line-height: 5rem;
  font-weight: 700;
  color: #e45826;
  font-family: "BhuTuka Expanded One";
}
.definition {
  font-size: 2rem;
  text-align: center;
  margin: 0px 100px;
}
.promise {
  font-size: 50px;
  line-height: 5rem;
  font-weight: 700;
  color: #e45826;
  font-family: "BhuTuka Expanded One";
}
.party {
  position: relative;
  top: 50px;
  background: url(images/15896247_910138789018345_2284640004674777094_o.jpg)
    repeat fixed 100%;
  background-size: cover;
}
.prom {
  background-color: rgb(238 151 21 / 54%);
  padding: 5%;
  margin: 0px 1px;
}
.party div div i {
  font-size: 100px;
}
.exp {
  font-size: 25px;
  font-weight: bolder;
  color: #1b1a17;
  margin-top: 3px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
}

.btn {
  background: #e45826;
  background-image: -webkit-linear-gradient(top, #e45826, #e45826);
  background-image: -moz-linear-gradient(top, #e45826, #e45826);
  background-image: -ms-linear-gradient(top, #e45826, #e45826);
  background-image: -o-linear-gradient(top, #e45826, #e45826);
  background-image: linear-gradient(to bottom, #e45826, #e45826);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 4px 25px 4px 25px;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: #f0a500;
  background-image: -webkit-linear-gradient(top, #f0a500, #f0a500);
  background-image: -moz-linear-gradient(top, #f0a500, #f0a500);
  background-image: -ms-linear-gradient(top, #f0a500, #f0a500);
  background-image: -o-linear-gradient(top, #f0a500, #f0a500);
  background-image: linear-gradient(to bottom, #f0a500, #f0a500);
  text-decoration: none;
}
.bts {
  text-align: end;
  position: relative;
  top: 50px;
}
.servi {
  font-family: Arial;
  text-decoration: none;
  font-size: 25px;
  color: #e45826;
  font-weight: 600;
  margin: 5px 117px;
  /* padding-top: 2px; */
  position: relative;
  top: 5px;
}
.servi:hover {
  color: #ee9715;
}
footer {
  position: relative;
  width: 108%;
  background-color: #1b1a17;
  text-align: center;
  padding-bottom: 24px;
  top: 100px;
  margin: -50px;
}
footer h4 {
  font-size: 15px;
  color: #e45826;
}
footer p,
footer i {
  color: #ee9715;
  font-size: 14px;
}
hr {
  color: #e45826;
}
.container {
  position: relative;
  top: 150px;
}
.pic {
  position: relative;
  padding: 1%;
  left: 50px;
}
.card {
  width: 250px;
  height: 300px;
  background-color: #333;
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline: offset 0.8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
}
.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: transform 0.75s;
}
.card:hover .card-image {
  transform: scale(1.15);
}
.card-title {
  color: rgba(255, 232, 190, 0.788);
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.aftr {
  position: relative;
  width: 111%;
  left: -11px;
}
